 {%  extends "layout.html" %}

 {%  block title %}Home{%  endblock %}

 {%  block content %}
     <div class="contain">
         <h1>MAKE YOUR <span class="h">CHOICE</span></h1>
     </div>

     <div class="c">
     <h3><span class="Instruct">Instructions</span>: The basis of this platform is that you will be able to make a choice. Specifically for your workout.
     You may be thinking, "Don't I usually do that...". But! For this platform you will be
     given randomly generated workouts to do (or choices to make). Each time you
     get on the platform you will most likely see different choices each time. Although you don't get to choose what workouts you
         see, your choices will determine your workout in the end. Good luck!</h3>
     <p>ARE YOU READY TO BEGIN YOUR WORKOUT?</p>

  <ul>
    <li><a href="templates/chosenof">YES! PUT ME IN COACH</a></li>
  </ul>
     </div>
 {%  endblock %}
